/* Basic screen layout */
/* Container for the two panes */
Horizontal {
    height: 1fr;
}

/* Common frame styling */
#left-frame, #right-frame {
    width: 1fr; /* Share width equally initially */
    padding: 0 1; /* Add padding inside frames */
    /* Use vertical layout for title and content */
}

/* Specific width for left frame */
#left-frame {
    width: 30%; /* 3 parts */
}

/* Specific width for right frame */
#right-frame {
    width: 70%; /* 7 parts */
    border: round white; /* Thin white border */
}

/* Style for the frame titles */
.frame-title {
    text-align: center; /* Center text within the Static widget */
    width: 100%; /* Take full width of the frame */
}

/* Style for the content area within the frames */
#node-listview, 
#topic-listview
#parameter-listview,
#log-view-content
{
    border: none;
    height: 1.2fr; /* Take remaining space in the frame */
    overflow-y: auto; /* Allow scrolling if content overflows */
}

#node-listview ListView {
    border: none;
    background: transparent; /* Ensure no background color */
}


#topic-listview ListView {
    border: none;
    background: transparent; /* Ensure no background color */
}

#parameter-listview ListView {
    border: none;
    background: transparent; /* Ensure no background color */
}

/* Adjust label inside node list content */
#node-listview Label {
    margin-bottom: 0;
}

/* Style the RichLog within the log view */
#log-view-content RichLog {
    border: none; /* Ensure no extra borders */
    background: transparent;
}

/* Style for the containers around each list and its title */
.list-container {
    border:round white; /* Thin white border */
    height: 1fr; /* Allow containers to share vertical space */
}

/* Hidden class for switching between tab configurations */
.hidden {
    display: none;
}

